<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-header">
      <h4 class="text-center">Sign In</h4>
    </div>
    <div class="login-form">

      <div class="form-group">
        <%= f.text_field :login, autofocus: true, :class => "form-control input-hg", :placeholder => "Username or email" %>
        <span class="form-control-feedback fui-user"></span>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control input-hg", :placeholder => "Password" %>
        <span class="form-control-feedback fui-lock"></span>
        <%= link_to "Forgot password?", new_user_password_path, :class => "btn btn-link btn-xs pull-right" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> <%= f.label :remember_me, "Remember me for 2 weeks" %>
          </label>
        </div>
      </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Sign In", :class => "btn btn-hg btn-info btn-block btn-embossed" %>
      </div>

      <div class="form-group">
        <p><small>Don't have an account? <%= link_to "Create one here", register_path %></small></p>
        <p><small><%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %></small></p>
      </div>

    </div>
    <% end %>
  </div>
</div>
