<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Raise your hand and help the world. If you are a victim or just want to report a scamming activities did by someone, you come to the right place">
	<meta name="keywords" content="scammer, scam, scam activity, black money, fraud, scamming activities, scam database">
	<meta name="author" content="AntiScam">

  <title><%= (title = yield :title).blank? ? "AntiScam Me" : title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :meta_tags %>
</head>
<body class="<%= body_class %>" data-user="<%= h current_user.try(:to_json) %>">
	<%= render partial: "header" %>

	<% if alert %>
	<div class="container">
		<div class="alert alert-danger">
			<button class="close fui-cross" data-dismiss="alert"></button>
			<%= alert %>
		</div>
	</div>
	<% elsif notice %>
	<div class="container">
		<div class="alert alert-warning">
			<button class="close fui-cross" data-dismiss="alert"></button>
			<%= notice %>
		</div>
	</div>
	<% end %>

	<div id="first-section" class="container">

		<%= yield %>

	</div>

</body>
</html>
