<!DOCTYPE html>
<html>
<head>
  <title>Antiscam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "header" %>

	<% if alert %>
	<div class="container">
		<div class="alert alert-danger">
			<button class="close fui-cross" data-dismiss="alert"></button>
			<%= alert %>
		</div>
	</div>
	<% elsif notice %>
	<div class="container">
		<div class="alert alert-warning">
			<button class="close fui-cross" data-dismiss="alert"></button>
			<%= notice %>
		</div>
	</div>
	<% end %>

	<div id="first-section" class="container">

		<%= yield %>

	</div>

</body>
</html>
